APP_NAME='Simple-Node-API'
APP_DESCRIPTION='Simple Node API'
APP_VERSION='1.0.0'
APP_ENV='development'
APP_PORT=3001
APP_API_DEBUG=false

SWAGGER_ENABLE=true

DATABASE_HOST=mongodb://localhost:27017,localhost:27018,localhost:27019 # If use replica set
DATABASE_NAME=<database-name>
DATABASE_USER=<username>
DATABASE_PASSWORD=<password>
DATABASE_DEBUG=false
DATABASE_OPTIONS=retryWrites=true&w=majority
// If use replica set
DATABASE_OPTIONS=replicaSet=rs0&retryWrites=true&w=majority -> DATABASE_OPTIONS=<replica-set-name>&retryWrites=true&w=majority

LOGGER_DATABASE_URL=<url>
LOGGER_DATABASE_NAME=investor-logger-stagging

LOGGER_SLACK_WEB_HOOK_URL=<slack-web-hook-url>
LOGGER_SLACK_CHANNEL='#general'
LOGGER_SLACK_USERNAME='webhookbot'
LOGGER_SLACK_LEVEL=error

ACCESS_TOKEN_SECRET=<secret>
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=<secret>
REFRESH_TOKEN_EXPIRES_IN=1d

ALLOW_ORIGIN="http://localhost:3000,https://localhost:3000"

MINIO_ENDPOINT='localhost'
MINIO_PORT=9000
MINIO_ACCESS_KEY=<access-key>
MINIO_SECRET_KEY=<secret-key>
MINIO_BUCKET_NAME=<bucket-name>
MINIO_USE_SSL=false
MINIO_PRESIGNED_URL_EXPIRES=5*60